pandas
numpy
scipy
ipykernel

yfinance
requests

pymongo
dnspython
python-dotenv
pyyaml
joblib
dill
tqdm
openpyxl

scikit-learn
xgboost
lightgbm

tensorflow
torch

ta
nltk
textblob
vaderSentiment
fredapi
alphavantage
gdelt

matplotlib
seaborn
plotly
mplfinance

streamlit
fastapi
uvicorn
flask
python-multipart

mlflow
evidently

## After the project is completed then at last, Use it only once to install the package in editable mode and then comment it out 
#-e .